*.iml
.idea
node_modules
.tern-project
try.js
/dump.rdb
GPATH
GRTAGS
GTAGS
*.bash
modules/gugu/tmp/*
*.class
.DS_Store
jsconfig.json
Vagrantfile
.vagrant
typings
.vscode
*.sql.bak
npm-debug.log
/build
/bbs
.eslintrc.json
yarn.lock
logs/*
scripts/pngs/outs/
.history
react/pageres/*
react/qrcode/*
MP_verify_*.txt
/public/upload/*
/config.js
config/config.js