html
  head
    meta(name='keywords', content='脉宝云店,中脉超越,超越极限,梁凯恩,许伯恺,新电商')
    meta(name='description', content='脉宝云店|中脉超越成为传统电商的替代者，新电商成功模式的推广，发展势不可挡！')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width')
    title 中脉超越 脉宝云店|新电商创业玩法|梁凯恩&许伯恺众多专家为您保驾护航
    link(href='/public/css/style.css', rel='styleSheet')
  body
    h1(style='opacity:0;position:absolute;left:0;top:0;z-index:0') 中脉超越 脉宝云店--新电商新玩法|梁凯恩&许伯恺等众多创业专家带你飞
    .banner
      .flex-box
        .left
          .logo
          .words
            h2
              span 脉宝
              | 能为你做什么？
              .border
            ul
              li
                | 这可能是继淘宝之后的又一场销售
                span 革命
                | ，
              li
                | 抓住
                span 商机
                | ，
              li
                | 就能改变
                span 命运
                | ！
      .flex-box.white
        .right
          img(src='./image/people.png', alt='中脉超越,脉宝云店', width='490')
    header
      .flex-box
        .left
          .des
            span 马云
            | ，中国第一富豪，第一个被无数人甘愿称之为“爸爸”的人。就连温家宝都曾评价马云是一个有理想的人，拥有不屈的灵魂。
          img(src='./image/pic.png', alt='中脉超越,脉宝云店', width='422')
      .flex-box.white
        .right
          h3  他为什么能这么成功？为什么不能是你成功?
          .des.right-des
            p
              | 马云有好口才，随便一篇演讲就能改变无数人的决策，他靠长远的眼光和能说会道，在中国建立了互联网商业帝国。通过网上平台，马云创造了一千万个创业机会，每天有一亿人登录消费！
            p 挖到第一桶金，摸清门道后，财富只会像滚雪球一样越来越大！对那些高踞财富榜榜首人来说，世界遍地是商机，为什么你就看不到呢？
          img(src='./image/aboutkey.png', alt='中脉超越,脉宝云店', width='678')
    .third-screen
      .content
        ul
          li
            | 第一看到商机要敢想敢做，去创业啊，只敢屈居人下的人是永远都不能走向成功的!
          li
            | 第二在商业时代，每个老板都是一个顶级销售！你还有什么理由不去练好自己的销售能力！
          li
            | 然而，就现状而言，对于很多缺乏大量资金的人来说，创业可谓举步维艰，就算在淘宝开店，也需要很大成本，还可能会面临货物积压的危险，一不留神就血本无归。
          li
            | 但是，现在有了
            span 脉云宝店，传统电商的替代者——新零售
            | ，开启了社交轻创业时代。
        section
          img.center-pic(src='./image/center.png', alt='新电商,超越极限', width='608')
          article.first
            img(src='./image/step-1.png', alt='新电商,超越极限')
            .step
              h4 真正好货
              | 海外直采，保税自营双管齐下，实力保障每一件商品货真价实，购遍全球只为正宗，脉宝云店只卖真正好货
          article.second
            img(src='./image/step-2.png', alt='新电商,超越极限')
            .step
              h4 超值之选
              |                     脉宝云店精选全球好货，产品美好，价格更美好。多重优惠，天天特价，限时特卖，新品试用，让你用心动的价格买到爆品的口红及奶粉
          article.third
            img(src='./image/step-3.png', alt='新电商,超越极限')
            .step
              h4 特色精品
              |                 不盲目追求爆品，更要追求个性与品质，脉宝云店挖掘全球小众特色精品，带来精品匠心之选，与众不同，更加出众
        section.desc-bottom
          h4 脉云宝店还有第二个身份——移动社交轻创业平台。
          p 它个每个有创业理想的人都提供了机会！
          p 想创业就能来！低门槛，高收益！看到这儿了还不心动想来看看那你注定是不能成为富翁了！
          ul
            li
              | 在脉云宝店，创业者只要注册成为店主，就可全网代理脉宝云店的万种商品，无需进货发货，只需积极社交推广即可创造收益，脉宝云店提供产品、客服、供应链、培训等八大支持体系，让创业者无忧开店
        .circle
          div
            img(src='./image/circle-1.png', alt='新电商,超越极限')
            span 小投资，可以拥有万种品牌商品经营权
          div
            img(src='./image/circle-2.png', alt='新电商,超越极限')
            span 压力小，无需囤货、不用租店铺、机会多、难度低、操作灵活……脉宝云店统一配货发货，解决后顾之忧，让创业不再难
          div
            img(src='./image/circle-3.png', alt='新电商,超越极限')
            span
              | 作为轻创业平台，脉云宝店一门槛低，任何有民事行为能力的人均可在脉宝云店上注册开店。无论是应届大学生，还是谋求改变的中年人，抑或是家庭主妇等，无论是谁，都能在脉宝云店里完成创业梦想
          div
            img(src='./image/circle-4.png', alt='新电商,超越极限')
            span 易推广：可一键转发到自己的社交圈，动动手指即可分享产品，创造收益
    .advance
      .advance-pic
    .forth-screen
      .content.no-padding
        .part-1
          .flex
            img.man-run(src='./image/proplr-run.png', alt='中脉超越,脉宝云店', width='620')
          .flex
            .continue
              p 那么，等等，其实这还没完。先别急着去注册。
              p
                | 真的想好了要
                span 创业
                | 吗？
              p
                | 想好了受够窝囊的自己了要做出
                span 改变
                | 吗？
              p 真的想好了的话那继续往下看！
        .next-content
          .box
            p
              | 你以为只当店主就行了？当店主只是一条门路，但是路在那儿，就看你会不会走了。同样的电商，为什么只有一部分人做得好而另外的都是失败者呢？再参照马云的例子，现在商机有了，就看你会不会做销售了！社交电商考验的是销售能力！所以说没想好的要赶紧想好。有销售能力的，脉云宝店能让你的事业锦上添花，没有的，更应该加入了！
            p 脉云宝店的老板们现在正在做另一件伟大的事，就是把想成为店长的人培养成销售高手！授人以鱼不如授之以渔！他们成立了中脉超越，争做销售人才的生产工！
          img(src='./image/computer.png', alt='中脉超越,脉宝云店', width='582', style='top:51px;right:-145px')
          .yellow
            | 中脉最大的魅力，
            br
            | 就是以最小的投资，
            br
            | 赢得最多的时间、最多的自由、最多的朋友。
            br
            | 用最大的努力、最大的付出，
            br
            | 获得最大的空间、最大的舞台、最大的回报。
            br
            | 而且一切都是倍增的！
          img(src='./image/shanghai.png', alt='中脉超越,脉宝云店', width='414', style='position: absolute;top: 682px;left: 148px;z-index: 1;')
          .box.part-3
            | 在中脉，你和公司之间是独立的合作伙伴关系，你不是在为公司打工，而在为自己创业，你是自己的老板，你拥有更多的独立性和自由。在中脉事业里有着这么一句话“我为人人，人人为我”。这种人性化的制度决定了当你没有经验的时候，很多有经验的人会来教你帮你，当你有经验的时候又把经验教给很多人，去帮助很多人，从而形成一个非常团结的优秀团队。很多想创业的人要么是有资金没有经验，要么就是有经验没有资金。对于很多想成功的人来说，最缺乏的往往就是经验和方法。加入中脉，他们将自己的系统经验一丝不留地教给新人，从而避免很多不必要的失误，大大提高了成功的机率。在中脉事业里任何人只要经过努力都可以做到。只要你想，只要你愿意，你可以在任何时间、任何地点展开工作。在中脉事业里你根本不用担心舞台不够大，因为你的才华在这个广阔的空间里可以发挥的更好。
    .second-advance
      .descripution
        | 不只是这一次创业，加入中脉，你能得到的是看不见的巨大的财富！
        br
        | 而这将成为你走上人生巅峰最强大的后盾！
        br
        | 在易企秀，你就能看到中脉超越的老大们开设的课程，在线上就能观看！
        br
        | 有无限免费课程，也有更精进的收费课程，帮你打开新时代商业的大！
        br
        | 创业第一步，在脉云宝店开店，
        br
        | 第二步，学习学习再学习！学好怎么做销售！想象中国排名前几的富豪，哪个不是顶级销售！
        br
        | 你可能会质疑，
        br
        | 这个时代是怎样的时代？赚钱真的有这么容易吗？
        br
        | 马云在做淘宝的时候也遭受了很多质疑，现在已经不是靠淘宝就能创业的时代了，让我们来剖析一下这个新电商时代，也叫零售时代。
        br
        | 在这个时代，先知先觉是领导者！后知后觉是跟随者！不知不觉只能做消费者！
        br
        | 很多人一辈子会有很多机会！但往往会错失机会，把握不住！机会没了，还会再有！机遇却是百遇一次！一生有可能只能遇到一次！
    .fourth-screen
      img(src='./image/map.png', alt='中脉超越,脉宝云店', width='1079', style='margin:150px 0 100px 0;')
      .content.no-padding
        div
          img.money-pic(src='./image/money.png', alt='中脉超越,脉宝云店', width='437')
          .money-desc
            .title
            |                         2016年，杭州云栖大会上，淘宝、天猫之父马云在演讲中指出：未来10年、20年中国将没有传统电商，只有新零售。研究全球电商趋势可以发现，网络购物场所由PC向手机端转移，这一现象在中国尤其明显，2016年双十一购物行为已有超过80%在手机端产生。手机端的火爆意味着社交零售，从代理等走向直销的新趋势。我们先来看一组数据。在美国，70%的家庭从事各种直销产业，直销公司多达2万多家，在欧洲，直销的市场份额占50%，日本达到60%，而韩国更高达80%；在马来西亚，人口不足3000万的市场中，就有近1000家直销公司；在中国台湾2260万人口中，直销人员超过380万，17%的人从事直销。而在中国大陆的近14亿人口中，直销从业人员比例不到1%！
    .fifth-screen
      .left
        .phone-desc
          h4 从以上数据中，我们都可以清楚地看出，直销在中国的巨大市场，未来，必将有巨大的发展空间。
          p 那么，在这个新旧电商交替的时代，新电商都是谁在做？这个新时代第一个敢于吃第一颗番茄的是谁?谁打响了第一炮?
          p 2017年脉宝云店正式上线，就是基于社交零售、专注于海淘领域、低门槛的轻创业平台！当然新电商不止于脉云宝店，但脉云宝店是新电商！
          p 直销零售都具有广阔的市场前景，那为什么之前的人都没有做起来，而新电商就能成功呢？
          p
            | 因为，新电商概念的创始者开创了自己的系统！新电商不是以往的直销公司、微商公司！而是全新的一种模式，结合了直销，微商，电商，互联网以及直播为一体的大平台，叫新电商天使百亿计划！只想计划旨在颠覆刷新全世界直销的记录！刷新全世界所有电商开盘的记录！刷新全世界微商的记录!
      .right
        img(src='./image/head.png', alt='梁凯恩,许伯恺', width='374')
    .sixth-screen
      .content.no-padding
        .main
          img(src='./image/book.png', alt='梁凯恩,许伯恺', width='425')
          .book-desc
            p 新电商项目是为新时代需求而生的一项能造福无数人的项目。在新电商项目里，只要内容是分享健康、分享商机，带给别人健康和财富！
            p
              | 经营的都是健康产品，其中有抗癌、防雾霾的产品，有男性女性生殖系列保养产品，日常生活用品等上万种商品。其中有一款核心产品今年将代表中国申报诺贝尔奖！产品技术全球第一！独一无二，难以模仿，无法超越！你可以全职可以兼职，每天两小时的业余时间就可以经营，它整合了直销，微商，电商的所有优点，让生意更简单！它布局全球，整合了33个国家的零售商，让客户的选择更多更安全！
            p 在这个系统里，你要做的只是一件事，就是分享！不断地分享！你的收入，将是陪伴着系统倍增的，并是永续地！
    .seventh-screen
      .wrapper
      .content.no-padding
        img(src='./image/xu.png', alt='梁凯恩,许伯恺')
    footer
      .flex.white
        .qrocde
          .final
            p
              | 看了这么多了解了这么多商机，你可以先做做梦，先想好走上人生巅峰之后该怎么花钱，
              br
              | 再然后，就去听课！
              br
              | 记住首先要学习！
              br
              | 生命不息学习不止！
              br
              | 加入中脉超越！
              br
              | 和更多牛掰的人做朋友！
              br
              | 你的朋友圈的质量决定了你能达到的人生高度！
              br
              | 脉云宝店和新电商计划，都是为有行动力的人而生，为准备着的人而生！
              br
              | 所有的成功都是为有准备的人而生的！
          .qrimg
            img(src='./image/qrcode.png', alt='梁凯恩,许伯恺')
      .flex
        .warning
          | 详情请扫描二维码 >