doctype
html
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title= title
  body
    p
     a(href="/first") 第一篇
    p 
     a(href="/second") 第二篇
    p
      a(href="/third") 第三篇(效仿练习facebook切图)