doctype
html
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title= title
  base(href="/")
  body
    app-root Loading...
    p 
     a(href="/first") 第一篇
    p 
     a(href="/second") 第二篇