body,ul{
    margin: 0;
    padding: 0;
    color: #333;
    width:100%;
}
ul{
    list-style: none;
}
.banner{
    height: 958px;
    width:100%;
    background: #f7b518;
    display: flex;
    -webkit-display:flex;
    position: relative;
}
.logo{
    position: absolute;
    width: 200px;
    height: 200px;
    /*background: url('../image/logo.png') center center/cover no-repeat;*/
    top: 52px;
    right: -100px;
    margin-left: -69px;
}
.banner .flex-box{
    flex: 1;
    width: 50%\9;
    display: inline-block\9;
    float: left\9;
    height: 100%;
    min-width:600px;
} 
.white{
    background: white;
}
.left,.right{
    width: 600px;
    height: 480px;
    float: right;
    position: relative;
}
.right{
    float: left;
    height: 100%;
}
.right img{
  width: 490px;
  height: 735px;
  position: absolute;
  bottom: 0;
  left: 85px;
}
.words h2 span{
    font-size: 50px;
    color:#37353d;
}
.words h1 {
    font-size: 40px;
    color: white;
}
.words ul{
    margin: 0;
    padding: 0;
}
.words li{
     color: #37353d;
     font-size: 20px;
     list-style: none;
}
.words li span{
    color: #f75c18;
}
.border{
    height: 8px;
    width: 32px;
    background: white;
    margin:16px 0 64px 0;
}
.words{
    position: absolute;
    top: 406px;
    right:130px;
}
header{
    height:650px;
    display: flex;
    -webkit-display:flex; 
    background:#37353d; 
}
header .flex-box{
    flex: 1;
    width:50%\9;
    display: inline-block\9;
    float: left\9;
    height: 100%;
    min-width:600px;
    position: relative;
}
.des{
    padding: 75px 105px 75px 38px;
    border: 5px solid #f7b518;
    color: white;
    line-height: 2.5;
    position: absolute;
    top: 125px;
    right: 77px;
    text-align: justify;
}
.des span{
    font-size: 36px;
    color: #f7b518;
}
.right-des{
    color: #37353d;
    padding: 52px 17px 52px 60px;
    width: 320px;
    letter-spacing: 0.05em;
    top: 220px;

}
h3{
    color: #f5473e;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    left: 120px;
    top:40px;
}
header .right img{
    width: 678px;
    height: 218px;
}
header .left img{
    position: absolute;
    right: -211px;
    top: 210px;
    z-index: 1;
}
.content{
    width: 1200px;
    margin: 0 auto;
    padding: 300px 0 110px;
    box-sizing: border-box;
}
header .right img{
    position: absolute;
    left: -100px;
    bottom: -285px;
    left: -500px;
}
.content ul{
    color: #37353d;
    line-height: 3;
    padding: 50px 100px 100px;
}
.content ul li span{
    color: #f7b518;
    font-size: 37px;
    /*margin-bottom: 33px;*/
}
section{
    text-align: center;
    position: relative;
}
article{
    width: 397px;
    position: absolute;
    text-align: left;
}
article .step{
    padding: 0 25px 0 63px;
    font-size: 14px;
    line-height: 2;
    color: #37353d;
}
.first,.third{
    top: 400px;
    left: 20px;
    position: absolute;
}
.second{
    right: 30px;
    top: 560px;
}
article.second .step{
    padding: 0 63px 0 25px;
    text-align: justify;
}
.third{
    top: 755px;
}
.first h4,.second h4,.third h4{
    color: #66d7d8;
    line-height: 1;
    margin:17px 0 15px 0;
}
.second h4{
    color: #f45b4f;
    text-align: right;
}
.third h4{
    color: #ff9966;
}
.center-pic{
    margin: 84px 0 168px -90px;
}

section ul{
    width: 610px;
    color: #f7b518!important;
    margin: 0 auto;
    list-style: disc inside;
    text-align: justify;
    text-indent: 2em;
    font-size: 14px;
}
.desc-bottom h4{
    font-size: 20px;
}
.desc-bottom p{
    color: #333;
}
.circle{
    display: flex;
    -webkit-display:flex;
}
.circle div{
    flex: 1;
    display: inline-block\9;
    float: left\9;
    width:50%\9;
    text-align: justify;
    font-size: 14px;
    color: #333;
    padding: 0 22.5px;
    line-height: 2;
}
.circle div img{
    width: 126px;
    height: 126px;
    border-radius: 50%;
    display: block;
    margin: 53px auto;
}
.circle div span{
    text-indent: 1em;
    display: block
}
.advance{
    width: 100%;
    height: 307px;
    background: #000120;
}
.advance-pic{
    width: 1350px;
    height: 100%;
    margin: 0 auto;
    background: url('../image/advance.png') center center/cover no-repeat;
}
.second-advance{
    height: 550px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
    /*background: url('../image/second-advance.png') center center fixed/cover no-repeat;*/
    background-image:url(../image/second-advance.png); 
    background-repeat:no-repeat; 
    background-attachment:fixed;
    background-size: cover;
}
.descripution{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    padding: 120px 0;
    line-height: 2.1;
}
.no-padding{
    padding: 0;
}
.continue{
    font-size: 19px;
    color: #333;
    text-align: center;
    padding-top: 120px;
    transform: rotate(-15deg);
    position: absolute;
    width: 550px;
    left: 120px;
}
.continue span{
    font-size: 45px;
    color: #f7b518;
}
.man-run{
    position: absolute;
    left:100px;
    /*margin-left: 110px;*/
}
.part-1{
    padding-top: 83px;
    box-sizing: border-box;
    height: 700px;
    display: flex;
    display:-webkit-flex;
}
.part-1 .flex{
    flex: 1;
    width: 50%\9;
    display: inline-block\9;
    float: left\9;
    min-width: 600px;
    position: relative;
}
.next-content{
    height: 1375px;
    position: relative;
}
.box{
    padding: 80px 160px 80px 80px;
    border: 3px solid #f7b518;
    width: 756px;
    box-sizing: border-box;line-height: 2;
    text-align: justify;
    position: absolute;
    top: 27px;
    left: 0;
}
.next-content img{
    position: absolute;
}
.yellow{
    background: #f7b518;
    color: white;
    width: 394px;
    height: 374px;
    text-align: center;
    box-sizing: border-box;
    padding: 74px 20px;
    line-height: 2.5;
        position: absolute;
    right: 90px;
    top: 485px;
    z-index: 1;
}
.box p{
    margin: 0 0 30px 0;
}
.box.part-3{
    width:550px; 
    padding: 81px 25px 39px 78px;
    position: absolute;
    top: 820px;
    right: 200px;
    left: auto;
    background: white
}
.fourth-screen{
    text-align: center;
}
.money-desc{
    width: 500px;
    display: inline-block;
     text-align: justify;
      line-height: 2.5;
}
.money-pic{
    margin: 55px 72px 0 0;
    vertical-align: top;
    display: inline-block;
    top: 55px;
}
.title{
    width: 66px;
    height: 10px;
    background: #f7b518;
    margin-bottom: 32px;
}
.fifth-screen{
    display: flex;
    -webkit-display:flex;
    height: 520px;
    margin:90px 0;
}
.fifth-screen .left,.fifth-screen .right{
    position: relative;
}
.fifth-screen .left{
    width: 40%;
    min-width: 480px;
}
.fifth-screen .right{
     width: 60%;
     min-width: 720px;
     background: url(../image/bg-phone.png) center center/cover no-repeat;
}
.phone-desc{
    width: 580px;
    position: absolute;
    right: -168px;
    z-index: 1;
    top: 50%;
    margin-top: -200px;
    line-height: 2;
}
h4{
    font-size:20px;
}
.phone-desc p{
    font-size: 14px;
}
.fifth-screen .right img{
    width: 374px;
    height: auto;
    position: absolute;
    left: 290px;
}
.book-desc{
    width: 580px;
    font-size: 14px;
    line-height: 2;
    padding: 0 25px;
    background: white;
    position: absolute;
    right: -70px;
    top: 50%;
    margin-top: -154px;
}
.main{
    width: 1000px;
    height: 380px;
    border: 5px solid #f7b518;
    position: relative;
    margin: 0 auto;
}
.main img{
    position: absolute;
    top: 50%;
    margin-top: -266px;
    z-index: 1;
    left: -80px;
}
.sixth-screen{
    margin: 160px 0 230px 0;
}
.seventh-screen{
    margin-top: 370px;
    position: relative;
    height: 757px;
}
.seventh-screen  .content{
    position: relative;
}
.seventh-screen img{
    position: absolute;
    left: 50%;
    margin-left: -574px;
    top: -175px;
    z-index: 2;
}
footer{
    height: 768px;
    background: #f7b518;
    display: flex;
    -webkit-display:flex;
    position: relative;
}
footer .flex{
    flex: 1;
    width: 50%\9;
    display: inline-block\9;
    float: left\9;
    min-width: 600px;
    position: relative;
}
.qrocde{
    width: 882px;
    background: white;
    height: 417px;
    position: absolute;
    top: 50%;
     right: -441px;
    margin-top: -209px;
    display: flex;
     -webkit-display:flex;
}
.final,.qrimg{
    flex: 1;
    width: 50%\9;
    display: inline-block\9;
    float: left\9;
    font-size: 14px;
    line-height: 2;
}
.qrimg img{margin: 49px 47px 47px 70px;
box-sizing: border-box;}
.final{
    margin-top: 47px;
}
.warning{
    width: 190px;
    height: 45px;
    background: #37353d;
    color: white;
    line-height: 45px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    left: 255px;
    bottom: 70px;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
    min-width: 1200px;
    background: url('../image/peoplebg.png') center center/cover no-repeat;

}
@media screen and (max-width:640px){
    body{
        min-width:320px;
        max-width: 640px;
        margin: 0 auto;
    }
    #pc{
        display: none;
    }
    #mobile{
        display: block;
    }
}
@media screen and (min-width:640px){
    #pc{
        display: block;
    }
    #mobile{
        display: none;
    }
}
.phone-1{
    width: 100%;
     display: flex;
    display: -webkit-flex;
    position: relative;
}
.phone-1 .col{
   flex: 1;
   -webkit-flex:1;
    width: 50%\9;
    display: inline-block\9;
    float: left\9;
    height:800px;
    background: #f7b518;
}
.phone-1 .black{
    background: #37353d;
}
.phone-content{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    letter-spacing: 0.075em;
}
.phone-content h2 span{
    font-size: 25px;
    color: #37353d;
}
.phone-content h2 {
    font-size: 20px;
    color: white;
}
.phone-content img{
    display: block;
    margin: 0 auto;
}
.title-box{
    display: inline-block;
    margin: 0 auto;
}
.title-box h2{
    margin-top: 10px;
}
.title-box .border{
    width: 16px;
    height: 4px;
    margin: 8px 0 32px 15px;
}
.mobile-desc{
    color: white;
    display: block;
    font-size: 12px;
    text-align: left;
}
.mobile-desc p{
    margin: 5px 0;
}
.mobile-desc span{
    color: #f75209;
}
.phone-desc-1{
    margin: 30px  13px 50px ;
    font-size: 12px;
    color: white;
    padding: 27px 8px 60px;
    text-align: justify;
    border: 2px solid #f7b518;
}
.phone-desc-1 span{
    font-size: 18px;
}
.phone-desc-1 h4{
    color: #f5473e;
    position: relative;
    font-size: 12px;
    text-align: center;
    margin: 20px 0 15px 0;
}
.phone-bottom{
    border: 3px solid #37353d;
    padding:40px 8px 27px;
    position: relative;
}
.phone-bottom img{
    position: absolute;
        top: -110px;
    left: 50%;
    margin-left: -105px;
}
.phone-key{
    height: 80px;
    width: 50%;
    position: absolute;
    bottom: 0;
    line-height: 85px;
    color: #f5473e;
    text-align: right;
    font-size: 12px;
}
.phone-key div{
    width: 100%;
    height: 100%;
    position: relative;
}
.phone-key span{
    font-size: 19px;
}
.phone-key::before,.phone-key::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    background: url('../image/circle.png') center center/cover no-repeat
}
.phone-key::after{
    top: auto;
    bottom: -12.5px;
}
.phone-2{
    padding: 6px 20px;
    font-size: 12px;
}
.phone-2 p {
    margin: 0;
    padding:25px 0 20px 0;
}
.phone-2 p span{
    color: #f7b518;
}
.phone-money-pic{
    display: block;
    margin: 0 auto;
}
.phone-maibao{
    text-align: center;
}
h5{
    margin: 0;
    line-height: 2;
}
.phone-maibao p{
padding: 0;
line-height: 2; 
}
.phone-money-desc-pic{
   width: 100%;
   margin: 26px 0 50px 0;
}
.phone-2 .phone-yellow-words{
    color: #f7b518;
    text-indent: 1em;
    padding: 25px 15px 20px;
    text-align: justify;
    line-height: 2;
}
.phone-icon{
    width: 50%;
    /*flex: 1;*/
    text-align: justify;
    padding: 30px 25px 40px;
    box-sizing: border-box;
    text-indent: 1em;
    line-height: 2;
}
.phone-icon-box{
    display: flex;
    display: -webkit-flex;
    flex-wrap:wrap;
}
.phone-icon img{
    margin: 0 auto 25px;
    display: block;
}
.phone-advance{
    height: 70px;
    background: url('../image/advance.png') center center/cover no-repeat;
}
.phone-3{
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    line-height: 2;
}
.phone-3-desc-pic{
    width: 100%;
    margin: 25px 0 0 0;
}
.phone-3-desc{
    width: 100%;
    margin: 25px 0 0 0;
    box-sizing: border-box;
    padding: 10px 8px 100px;
    border: 1px solid #f7b518;
    text-align: justify;
    position: relative;
}
.phone-yellow{
    text-align: center;
    color: white;
    background: #f7b518;
    width: 300px;
    padding: 37px 0;
    margin-left: -150px;
    top: -185px;
}
.phone-3-desc img,.phone-yellow{
    position: absolute;
    left: 50%;

}
.phone-3-desc img{
    margin-left: -130px;
    z-index: 1;
}
.phone-3-bottom-desc{
    padding: 65px 8px 60px;
    z-index: 1;
    background: white;
}
.phone-advance-2,.second-advance-desc{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -15px;
    color: white;
    padding:30px 0;
    background: url('../image/second-advance.png') center center/cover no-repeat;
}
.second-advance-desc{
    background: transparent;
    z-index: 2;
}
.second-advance-desc p{
    margin: 0;
    padding: 0 20px;
    font-size: 12px;
    line-height: 2;
}
.phone-advance-2-wrapper{
    position: relative;
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    padding: 30px 0;
}
.phone-advance-2-wrapper img{
    width: 175px;
    position: absolute;
    z-index: 1;
    right: 40px;
    top: -45px;
}
.phone-map{
    width: 100%;
}
.phone-money{
    width: 190px;
}
.phone-4{
    padding: 0 20px;
    font-size: 12px;
    line-height: 2;
}
.phone-4 h5{
    font-size: 15px;
}
.phone-4 p{
    margin: 0;
}
.phone-phone{
    width: 100%;
    display: block;
    margin: 20px auto;
}
.phone-book{
    border: 1px solid #f7b518;
    padding: 74px 12px 30px;
    position: relative;
    margin-top: 250px;
}
.phone-book img{
    position: absolute;
    top: -220px;
    left: 50%;
    margin-left: -105px;
}
.phone-people{
    width: 100%;
    margin-top: 15px;
}
.phone-5{
    width: 100%;
    height: 650px;
    display: flex;
    display: -webkit-flex;
    position: relative;
}
.phone-5-flex{
    flex: 1;
    -webkit-flex: 1;
    height: 100%;
    background: #f7b518;
}
.phone-5-desc{
    position: absolute;
    color: white;
    font-size: 12px;
    line-height: 2;
    width: 100%;
    height: 100%;
    padding: 44px 37px 0;
    box-sizing: border-box;
    left:0;
    top:0;
}
.phone-qrcode{
    width: 210px;
    height: 210px;
    background: white;
    margin: 40px auto 0;
    box-sizing: border-box;
    padding: 25px;
}
.phone-tip{
    width: 210px;
    margin: 20px auto;
    text-align: right;
}